<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<body>
<div class="container" layout:fragment="content">
    <section class="skrollable skrollable-between u-align-center u-clearfix u-gradient u-section-1" id="sec-2c23">
    <div id="main_body">
        <h1 class="u-text u-text-body-alt-color u-text-default u-title u-text-1"><b>Больница</b></h1>
        <p class="u-large-text u-text u-text-body-alt-color u-text-variant u-text-2">Добро пожаловать на сайт областного государственного бюджетного учреждения здравоохранения Ульяновской области</p>
    </div>
    </section>
</div>
</body>
</html>