<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактор записи</title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/record/{id}(id=${id})}" th:object="${recordDTO}" method="post">
        <div class="mb-3">
            <label for="date" class="form-label">Дата</label>
            <input type="text" class="form-control" id="date" placeholder="Дата" th:field="${recordDTO.date}" required>
        </div>
        <div class="mb-3">
            <label for="patientName" class="form-label">Имя пациента</label>
            <input type="text" class="form-control" id="patientName" placeholder="Имя пациента" th:field="${recordDTO.patientName}" required>
        </div>
        <div class="mb-3">
            <label for="maintenanceName" class="form-label">Название услуги</label>
            <input type="text" class="form-control" id="maintenanceName" placeholder="Название услуги" th:field="${recordDTO.maintenanceName}" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/record}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>